.lfr-objects__editor__CodeMirrorEditor {
	border: 1px solid #e7e7ed;
	flex-grow: 1;
	margin: 24px;

	> .CodeMirror {
		height: 300px;
		min-width: 500px;
	}

	.CodeMirror-wrap pre {
		word-break: break-word;
	}
}

.editor-container {
	display: flex;
}

.alt-sheet {
    background-color: #fff;
    border-color: #e7e7ed;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
    padding-bottom: 0.0625rem;
    padding-top: 1.5rem;
}

.title-divider {
	border-bottom: 1px solid #e7e7ed;
	padding-left: 24px;
}

.editor-sidebar {
	border-left: 1px solid #e7e7ed;
    width: 280px;
}

.collapsable-button-list{
	margin-bottom: 15px;
}
